* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

  main.container iframe {
    width: 100%;
    height: 50vh;
    min-height: 350px;
  }

  header {
    text-align: center;
    padding: 1em;
    font-size: 1.25em;
    width: 100%;
    background-color: rgb(255, 255, 255);
    color: black;
  }

    header nav a {
      padding: 0.25em;
      text-decoration: none;
    }

      header nav a:hover {
        text-decoration: underline;
      }

  .centered {
    text-align: center;
    padding: 0;
    margin: 0;
  }

main div {
  padding: 0.5em 1em 0 1em;
  width: 100%;
  background-color: black;
  color: white;
}

  center {
    width: 100%;
  }

  div.row {
    margin: 0;
  }

    h1, h2, h3, h4, h5, h6 {
      width: 100%;
    }

    a.piece, #four_image {
      color: black;
      cursor: pointer;
    }
      a.piece:hover {
        text-decoration: underline;
      }

    a h5.title, #four_link {
      cursor: pointer;
    }
      a h5.title:hover, #four_link:hover {
        text-decoration: underline;
      }

  .c2js.left {
    width: 100%;
    text-align: left;
  }

  .c2js.center {
    width: 100%;
    text-align: center;
  }

  .c2js.right {
    width: 100%;
    text-align: right;
  }

  canvas {
    display: inline;
  }

    canvas:hover {
      cursor: pointer;
    }

  img.art {
    min-width: 200px;
    min-height: 200px;
    width: 100%;
    height: 100%;
  }

  div.visitors {
    /* background-color: #0f0f0f;
    color: #f0f0f0; */
  }

  footer {
    padding: 1em;
    text-align: center;
    margin-top: solid 1px #e8e8e8;
    background-color: rgb(255, 255, 255);
    color: black;
  }
    footer nav {
      display: inline;
    }
      footer nav a {
        padding-right: 0.25em;
        text-decoration: none;
      }

  h1, h2, h3, h4, h5, h6 {
    text-align: center;
    width: 100%;
  }

/* #sketch-container {
  width: 500px;
  height: 500px;
  border: 2px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
} */

@media (min-width: 1440px){
  .piece-img {
    width: 95%;
    height: auto;
  }
}

@media (max-width: 1439px and min-width: 993px){
  .piece-img {
    width: 45%;
    height: auto;
  }
}

@media (max-width: 992px){
  .piece-img {
    width: 70%;
    height: auto;
  }
}